doctype html
html
  head
    title deronLearn
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://cdn.plyr.io/3.5.6/plyr.css")
  body
    block content
    script(src="https://cdn.plyr.io/3.5.6/plyr.js")
    script(src="/javascripts/app.js")
