* {
  --backgroundColor: #fff;
  --foregroundColor: #111;
  --primaryColor: #03a9f4;
  --primaryShade1: #e1f5fe;
  --primaryShade2: #b3e5fc;
  --primaryShade3: #4fc3f7;
  --primaryShade4: #0288d1;
  --primaryShade5: #0277bd;
  --secondaryColor: #673ab7;
  --secondaryShade1: #ede7f6;
  --secondaryShade2: #d1c4e9;
  --secondaryShade3: #9575cd;
  --secondaryShade4: #512da8;
  --secondaryShade5: #311b92;
  --accentColor: #009688;
  --accentShade1: #e0f2f1;
  --accentShade2: #b2dfdb;
  --accentShade3: #4db6ac;
  --accentShade4: #00796b;
  --accentShade5: #004d40;
  --accent2Color: #8bc34a;
  --accent2Shade1: #e7f6d5;
  --accent2Shade2: #c5e1a5;
  --accent2Shade3: #aed581;
  --accent2Shade4: #689f38;
  --accent2Shade5: #558b2f;
  --accent3Color: #f44336;
  --accent3Shade1: #ffdde0;
  --accent3Shade2: #ffcdd2;
  --accent3Shade3: #ef9a9a;
  --accent3Shade4: #d32f2f;
  --accent3Shade5: #b71c1c;
  --neutralShade0: #f8f8f8;
  --neutralShade1: #f2f2f2;
  --neutralShade2: #e8e9e9;
  --neutralShade3: #d1d3d4;
  --neutralShade4: #babdbf;
  --neutralShade5: #808488;
  --neutralShade6: #666a6d;
  --neutralShade7: #4d5052;
  --neutralShade8: #212122;
  --borderRadius: 6px;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  background-color: #c1e0e5;
  background-image: url("../images/pattern.svg");
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 275px;
}

.login-box,
.message-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffc600;
  max-width: 500px;
  padding: 50px;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.08653)
}

.input__wrapper {
  width: 100%;
  margin-bottom: 30px;
}

.input__wrapper:first-of-type {
  margin-top: 30px;
}

.label-form {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

input.input-form,
select,
textarea {
  height: 50px;
  font-size: 16px;
  border: 2px solid var(--neutralShade3);
  width: 100%;
  padding: 3px 12px;
  font-family: "Poppins";
  border-radius: var(--borderRadius);
  color: var(--foregroundColor);
  background: var(--backgroundColor);
}

input.input-form:focus,
select:focus,
textarea:focus,
input.input-form.active,
select.active,
textarea.active {
  outline: none;
  border-color: var(--primaryColor);
}

.back,
#login {
  outline: none;
  width: 200px;
  text-align: center;
  display: inline-block;
  border: none;
  font: 500 16px "Poppins", sans-serif;
  padding: 20px;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background: var(--primaryColor);
  color: var(--backgroundColor);
  position: relative;
  top: 0;
  transition: 0.2s ease;
}

.back:hover,
#login:hover,
#login.hover {
  top: -3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.course-list {
  display: flex;
  width: 100%;
}

.course-details {
  max-width: 325px;
  height: 370px;
  background-color: #ffc600;
  padding: 25px;
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.08653);
  position: relative;
}

.course-details:hover {
  transform: scale(1.05)
}

.course-poster {
  width: 100%;
}

.course-name {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}

.course-video-count,
.course-module-count {
  display: block;
  margin-bottom: 5px;
}

.course-duration {
  position: absolute;
  right: 5px;
  padding: 4px;
  border-radius: 5px;
  font-size: 12px;
  background-color: lightgrey;
}

.start-learning {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  background: var(--primaryColor);
  color: var(--backgroundColor);
}

.start-learning:hover {
  opacity: 0.85;
}

.load-warning {
  text-align: center;
  color: red;
}

.course-container {
  display: flex;
  justify-content: center;
}

.course-content {
  max-width: 70vw;
}

.course-selection {
  background: #ffc600;
  padding: 25px;
  overflow: scroll;
}

.course-progress {
  display: block;
  text-align: right;
  margin-bottom: 5px;
}

.module>h2 {
  color: white;
  background-color: red;
  padding: 12px;
  margin: 0;
}

.chapter-name {
  display: block;
  text-decoration: none;
  color: #000;
  background-color: white;
  font-weight: bold;
  padding: 15px;
  padding-left: 50px;
  border-bottom: 1px solid #e7e7e7 !important;
  border-left: 1px solid #e7e7e7 !important;
}

.selected {
  background-color: lightgreen;
}

.logout {
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  background: var(--primaryColor);
  color: var(--backgroundColor);
  width: 175px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  padding: 18px;
}

@media (max-width: 1600px) {
  .course-container {
    flex-direction: column;
  }

  .course-content {
    max-width: 100vw;
  }
}